In [1]:
import os
import csv
import pandas as pd

In [2]:
filepath = "Resources/train.csv"
data = pd.read_csv(filepath, encoding = "utf-8")
df = pd.DataFrame(data)

In [3]:
df.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [4]:
df["City_Code"].value_counts()

C1     8973
C2     7747
C3     4889
C4     3671
C9     2185
C6     1950
C7     1910
C8     1806
C10    1611
C5     1364
C15    1186
C17    1159
C11    1147
C16    1135
C13    1005
C20     926
C19     899
C12     868
C18     797
C14     746
C21     679
C23     587
C24     553
C22     516
C26     499
C29     387
C25     366
C27     295
C33     286
C28     285
C32     160
C34     130
C30      58
C35      56
C36      36
C31      15
Name: City_Code, dtype: int64

In [5]:
city1 = df.loc[df["City_Code"] == "C1"]
city1 = city1.fillna(0)
city1.drop(['City_Code', 'Region_Code', 'ID'], axis=1, inplace=True)

In [6]:
city1.head()

,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
7,Owned,Joint,75,73,Yes,X4,9.0,4.0,17,29344.0,1
9,Owned,Joint,59,26,Yes,0,7.0,4.0,18,21100.8,1
18,Owned,Individual,55,55,No,X2,1.0,3.0,21,12580.0,0
23,Rented,Individual,22,22,No,X6,0,0.0,19,5416.0,0
28,Rented,Individual,24,24,No,X5,0,0.0,19,7800.0,0

In [17]:
city1["Health Indicator"].value_counts()

X1    2235
0     2100
X2    1792
X3    1092
X4    1077
X5     433
X6     163
X7      68
X8      11
X9       2
Name: Health Indicator, dtype: int64

In [18]:
city1["Health Indicator"] = city1["Health Indicator"].replace({'X1':'1', 'X2':'2', 'X3':'3', 'X4':'4', 'X5':'5', 'X6':'6','X7':'7', 'X8': '8', 'X9': '9'})

In [19]:
city1["Health Indicator"].value_counts()

1    2235
0    2100
2    1792
3    1092
4    1077
5     433
6     163
7      68
8      11
9       2
Name: Health Indicator, dtype: int64

In [29]:
city1.to_csv("Resources/visual.csv", index=False)

In [20]:
city1["Reco_Insurance_Type"].value_counts()

Individual    6658
Joint         2315
Name: Reco_Insurance_Type, dtype: int64

In [21]:
city1["Accomodation_Type"].value_counts()

Owned     6037
Rented    2936
Name: Accomodation_Type, dtype: int64

In [22]:
city1["Holding_Policy_Type"].value_counts()

0.0    3230
3.0    2415
1.0    1592
4.0    1007
2.0     729
Name: Holding_Policy_Type, dtype: int64

In [23]:
city1["Reco_Policy_Cat"].value_counts()

16    1362
19    1308
22    1091
18     989
17     776
21     640
5      599
20     560
7      428
12     334
13     307
8      265
14     125
15      85
2       55
1       25
9       12
10       6
6        6
Name: Reco_Policy_Cat, dtype: int64

In [24]:
city1["Response"].value_counts()

0    6765
1    2208
Name: Response, dtype: int64

In [25]:
city_df = pd.get_dummies(city1)

In [26]:
city_df.head()

,Upper_Age,Lower_Age,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response,Accomodation_Type_Owned,Accomodation_Type_Rented,Reco_Insurance_Type_Individual,Reco_Insurance_Type_Joint,...,Holding_Policy_Duration_14+,Holding_Policy_Duration_14.0,Holding_Policy_Duration_2.0,Holding_Policy_Duration_3.0,Holding_Policy_Duration_4.0,Holding_Policy_Duration_5.0,Holding_Policy_Duration_6.0,Holding_Policy_Duration_7.0,Holding_Policy_Duration_8.0,Holding_Policy_Duration_9.0
7,75,73,4.0,17,29344.0,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
9,59,26,4.0,18,21100.8,1,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18,55,55,3.0,21,12580.0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
23,22,22,0.0,19,5416.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
28,24,24,0.0,19,7800.0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
city_df.columns

Index(['Upper_Age', 'Lower_Age', 'Holding_Policy_Type', 'Reco_Policy_Cat',
       'Reco_Policy_Premium', 'Response', 'Accomodation_Type_Owned',
       'Accomodation_Type_Rented', 'Reco_Insurance_Type_Individual',
       'Reco_Insurance_Type_Joint', 'Is_Spouse_No', 'Is_Spouse_Yes',
       'Health Indicator_0', 'Health Indicator_1', 'Health Indicator_2',
       'Health Indicator_3', 'Health Indicator_4', 'Health Indicator_5',
       'Health Indicator_6', 'Health Indicator_7', 'Health Indicator_8',
       'Health Indicator_9', 'Holding_Policy_Duration_0',
       'Holding_Policy_Duration_1.0', 'Holding_Policy_Duration_10.0',
       'Holding_Policy_Duration_11.0', 'Holding_Policy_Duration_12.0',
       'Holding_Policy_Duration_13.0', 'Holding_Policy_Duration_14+',
       'Holding_Policy_Duration_14.0', 'Holding_Policy_Duration_2.0',
       'Holding_Policy_Duration_3.0', 'Holding_Policy_Duration_4.0',
       'Holding_Policy_Duration_5.0', 'Holding_Policy_Duration_6.0',
       'Holding_Policy_Duration_7.0', 'Holding_Policy_Duration_8.0',
       'Holding_Policy_Duration_9.0'],
      dtype='object')

In [28]:
city_df.to_csv("Resources/city1.csv", index=False)